<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>About - trade–paper</title>
	{% include "tradepaper/header.html" %}
</head>

<body>
	{% include "tradepaper/nav-bar.html" %}

	<!--About-->
	<div class="about">
		<h2>About trade-paper</h2>
		<img src="http://trade-paper.com/assets/img/t-p-logo.png" />
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <a href="/browse">So take a look around.</a></p>
		<h2>Frequently Asked Questions</font></h2>
		<p>Head over to the <a href="/faq">FAQ page.</a></p>
		<h2>Contact trade-paper</h2>
		<p>If you have any questions, requests, or any other thing you'd like to ask or tell us directly, shoot us an email at <br/><a href="mailto:info@trade-paper.com">info @ trade-paper.com</a></p>
	</div>
	<!--END About-->
	<div class="bottom"></div>
</body>

</html>
