<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Browse - trade–paper</title>
    {% load staticfiles %}
    <link href="{% static 'tradepaper/styles.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

{% include "tradepaper/nav-bar.html" %}

<div class="browse_container">
			<h2>Browse</h2>
           	<!--LINK TO THISMAG PRODUCT PAGE-->
            <div class="browse_element">
            	<a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
                <div class="browse_paper_title"> <a href="/">Publication Title</a> </div>
                <p>Publication Edition</p>
           	</div>
           	<!--LINK TO THISMAG PRODUCT PAGE-->
            <div class="browse_element">
            	<a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
                <div class="browse_paper_title"> <a href="">Publication Title</a> </div>
                <p>Publication Edition</p>
           	</div><!--LINK TO THISMAG PRODUCT PAGE-->
            <div class="browse_element">
            	<a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
                <div class="browse_paper_title"> <a href="">Publication Title</a> </div>
                <p>Publication Edition</p>
           	</div><!--LINK TO THISMAG PRODUCT PAGE-->
            <div class="browse_element">
            	<a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
                <div class="browse_paper_title"> <a href="">Publication Title</a> </div>
                <p>Publication Edition</p>
           	</div><!--LINK TO THISMAG PRODUCT PAGE-->
            <div class="browse_element">
            	<a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
                <div class="browse_paper_title"> <a href="">Publication Title</a> </div>
                <p>Publication Edition</p>
           	</div><!--LINK TO THISMAG PRODUCT PAGE-->
            <div class="browse_element">
            	<a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
                <div class="browse_paper_title"> <a href="">Publication Title</a> </div>
                <p>Publication Edition</p>
           	</div><!--LINK TO THISMAG PRODUCT PAGE-->
            <div class="browse_element">
            	<a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
                <div class="browse_paper_title"> <a href="">Publication Title</a> </div>
                <p>Publication Edition</p>
           	</div><!--LINK TO THISMAG PRODUCT PAGE-->
            <div class="browse_element">
            	<a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
                <div class="browse_paper_title"> <a href="">Publication Title</a> </div>
                <p>Publication Edition</p>
           	</div><!--LINK TO THISMAG PRODUCT PAGE-->
            <div class="browse_element">
            	<a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
                <div class="browse_paper_title"> <a href="">Publication Title</a> </div>
                <p>Publication Edition</p>
           	</div>

</div>
<div class="bottom"></div>
</body>
</html>
