<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Edit Profile - trade–paper</title>
	{% include "tradepaper/header.html" %}
</head>

<body>
	{% include "tradepaper/nav-bar.html" %}

	<!--My Account Content-->
	<div class="myaccount">
		<h2>Edit Profile Details</h2>
		<div id="editprofile">
			<h3>Set a new account email address:</h3>
			<input type="email" name="email" placeholder="Email Address" id="edit_email" data-required="required" class="textfield_effect" autofocus>
			<input type="submit" value="Submit" name="subscribe" class="button_effect" id="edit_submit">
			
			<h3>Set a new password:</h3>
			<input type="password" name="password" placeholder="Password" id="edit_password" data-required="required" class="textfield_effect">
			<input type="submit" value="Submit" name="subscribe" class="button_effect" id="edit_submit">
			
			<h3>Set a location:</h3>
			<input type="text" name="city" placeholder="City, State" id="edit_city" data-required="required" class="textfield_effect">
			<input type="submit" value="Submit" name="subscribe" class="button_effect" id="edit_submit">
			
			<h3>Set a personal website:</h3>
			<input type="url" name="site" placeholder="internet.com" id="edit_site" data-required="required" class="textfield_effect">
			<input type="submit" value="Submit" name="subscribe" class="button_effect" id="edit_submit">
		</div>
	</div>
	<!--End My Account Content-->
	
	<div class="bottom"></div>
</body>
</html>
