<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login - trade–paper</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
<!-- <link href="styles.css" rel="stylesheet" type="text/css"> -->
{% load staticfiles %}
<link href="{% static 'tradepaper/styles.css' %}" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

{% include "tradepaper/nav-bar.html" %}
<!-- Frame Links -->
<!-- <div class="top"></div>
<div class="framelink" id="link1"><a href="look">Browse</a>
</div>
<div class="framelink" id="link2"><a href="//">trade–paper</a>
</div>
<div class="framelink" id="link3"><form action="/search.jsp" method="GET">
<input type="text" name="query" class="search_effect" placeholder="Search">
</form>
</div>
<div class="framelink" id="link4"><a href="/about">About</a>
</div> -->
<!--If signed in:-->
<!-- <div class="framelink" id="link5">
<a href="http://trade-paper.com/myaccount">My Account</a>
<ul>
	<li><a href="/">Something</a></li>
	<li><a href="/">Requests</a></li>
	<li><a href="/">My Profile</a></li>
	<li><a href="http://trade-paper.com/logout">Log Out</a></li>
</ul>
</div> -->
<!--Else:-->
<!--<div class="framelink" id="link5"><a href="/login">Log In</a></div>-->
<!--END Frame Links-->


<!--Sign Up-->
<div class="login">
	<h1>Log In</h1>
	{% if messages %}
		{% for message in messages %}
		<h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
		{% endfor %}
	{% endif %}
	<form action="{% url 'login' %}" method="post">
		{% csrf_token %}
	    <h2>Email address:</h2>
	    <input type="text" name="email" placeholder="email" id="login_email" data-required="required" class="textfield_effect">

	    <h2>Password:</h2>
	    <input type="password" name="password" placeholder="password" id="login_password" data-required="required" class="textfield_effect">

		<div id="loginbutton">
			<input type="submit" value="Submit" class="textfield_effect" id="login_submit">
		</div>
	</form>

	<div id="loginsubmitbutton">
	<form action="{% url 'register' %}" method="get">
		<input type="submit" value="Register" class="textfield_effect" id="login_submit">
	</form>
	</div>

</div>
<!--END Sign Up-->

</body>
</html>
