<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>My Account - trade–paper</title>
	{% include "tradepaper/header.html" %}
</head>

<body>
	{% include "tradepaper/nav-bar.html" %}
<!--My Account Content-->
	<div class="myaccount">
		<h2>My Account</h2>
		<div id="mabuttons">
                  <a href="{% url 'trades' %}"><mabutton>View Trade Requests</mabutton></a><!--Link to trade-request page-->
                  <a href="{% url 'manage' %}"><mabutton>Add/Remove My Magazines</mabutton></a>
			<a href="{% url 'users:profile' name=user.name %}"><mabutton>View My Profile</mabutton></a><!--Have this link to the logged-in user's profile-->
                        <a href="{% url 'edit_profile' %}"><mabutton>Edit Profile Details</mabutton></a>
                        <a href="{% url 'preferences' %}"><mabutton>Preferences</mabutton></a>
			<a href=""><mabutton>Other Link</mabutton></a>
		</div>
	</div>
	<!--End My Account Content-->
	
	<div class="bottom"></div>
</body>
</html>
