<!-- Start Framelinks -->

<div class="top"></div>
<div class="framelink" id="link1">
    <a href="{% url 'browse' %}">Browse</a>
</div>
<div class="framelink" id="link2">
    <a href="{% url 'home' %}">trade–paper</a>
</div>
<div class="framelink" id="link3">
    <form action="#" method="POST">
        <input type="text" name="query" class="search_effect" placeholder="Search">
    </form>
</div>
<div class="framelink" id="link4"><a href="{% url 'about' %}">About</a>
</div>
<div class="framelink" id="link5">
    <!--If signed in:-->
    {% if user.is_authenticated %}
        <p class="uparr badge1" data-badge="1">Account</p>
        <ul>
            <li><a href="{% url 'my_account' %}">My Account</a></li>
            <li><a href="{% url 'papers:new_listing' %}">New Listing</a></li>
            <li><a href="{% url 'trades' %}" id="red">Requests</a></li>
            <!--<li><a href="{% url 'users:profile' name=user.name %}">My Profile</a></li>-->
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
    <!--If not signed in:-->
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</div>

<!-- End Framelinks -->
