<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Pending Requests - trade–paper</title>
	{% include "tradepaper/header.html" %}
</head>

<body>
	{% include "tradepaper/nav-bar.html" %}
	<div class="pendingrequests">
		<h2>Pending Requests</h2>
	  <!--% if no pending requests:-->
	  <!--<div id="none">
	  	<p>You have no pending requests.</p>
		</div>-->
	  <!--else:-->
	  <div id="some">
	  	<div class="outer">
	      <div id="date">[[date]]</div>

	      <div class="middle">
		    <a href="">New trade request for [[magazine]]</a>
	      </div>
        <!--Show .mailstatus class only if trade has been accepted
        <div class="mailstatus"></div>-->
	    </div>

	    <div class="outer">
          <div id="date">July 7, 2014</div>
      	  <div class="middle">
	      	<!--If status of trade is pending:-->
      	  	<a href="">Pending trade request for Apartamento Magazine</a>
	      </div>
      	  <!--Show .mailstatus class only if trade has been accepted
	      <div class="mailstatus"></div>-->
	  	</div>

	  </div>
	</div>

<div class="bottom"></div>
</body>

</html>
