<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Profile - trade–paper</title>
	{% load staticfiles %}
	<link href="{% static "tradepaper/styles.css" %}" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

{% include "tradepaper/nav-bar.html" %}

<!--Set Page Title to "username - trade-paper"-->

<!--Profile Header-->
<div class="profile_head">

	<h2>Profile</h2>
	<!--Get avatar-->
	<!--<img src="https://pbs.twimg.com/profile_images/433092997828202496/Lj3L-jIF_bigger.jpeg" />-->
	<!--Get username-->
	<div id="unamedisp">{{ user.username }}</div>
	<!--Get city location-->
	{% if user.city %}
		<h3>{{ user.city }}</h3>
	{% endif %}
	<!--Get website if any-->
	{% if user.website %}
		<h3><a href="">{{ user.website }}</a></h3>
	{% endif %}

</div>
<!--END Profile Header-->

<!--Profile Content-->
<div class="profile">


	<!--FIX
	<div class="profile_sort">
		<p>Sort by: DROP DOWN</p>
	</div>
	FIX-->

		<!--RUN %IF FOR AS MANY ELEMENTS AS THERE ARE-->
		<div class="profile_element">
			<!--LINK TO THISMAG PRODUCT PAGE--><a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
			<!--LINK TO THISMAG PRODUCT PAGE--><p><a href="">Publication Title</a></p>
			<p>Publication Edition</p>
			<div class="tradebutton">
				<a href="/">Offer Trade</a>
			</div>
		</div>

		<div class="profile_element">
			<!--LINK TO THISMAG PRODUCT PAGE--><a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
			<!--LINK TO THISMAG PRODUCT PAGE--><p><a href="">Publication Title</a></p>
			<p>Publication Edition</p>
			<div class="tradebutton">
				<a href="/">Offer Trade</a>
			</div>
		</div>

		<div class="profile_element">
			<!--LINK TO THISMAG PRODUCT PAGE--><a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
			<!--LINK TO THISMAG PRODUCT PAGE--><p><a href="">Publication Title</a></p>
			<p>Publication Edition</p>
			<div class="tradebutton">
				<a href="/">Offer Trade</a>
			</div>
		</div>

		<div class="profile_element">
			<!--LINK TO THISMAG PRODUCT PAGE--><a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
			<!--LINK TO THISMAG PRODUCT PAGE--><p><a href="">Publication Title</a></p>
			<p>Publication Edition</p>
			<div class="tradebutton">
				<a href="/">Offer Trade</a>
			</div>
		</div>

		<div class="profile_element">
			<!--LINK TO THISMAG PRODUCT PAGE--><a href=""><img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
			<!--LINK TO THISMAG PRODUCT PAGE--><p><a href="">Publication Title</a></p>
			<p>Publication Edition</p>
			<div class="tradebutton">
				<a href="/">Offer Trade</a>
			</div>
		</div>
		</div>

</div>
<!--End Profile Content-->

<div class="bottom"></div>
</body>
</html>
