<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Profile - trade–paper</title>
	{% include "tradepaper/header.html" %}
</head>

<body>
	{% include "tradepaper/nav-bar.html" %}
	<!--Set Page Title to "username - trade-paper"-->
	<!--Profile Header-->
	<div class="profile_head">
		<h2>Profile</h2>
		<!-- Get avatar-->
	  <img src="https://pbs.twimg.com/profile_images/433092997828202496/Lj3L-jIF_bigger.jpeg" />
		<!--Get username -->
		<div id="unamedisp">{{ user.name }}</div>
		<!--Get city location-->
		{% if user.city %}
			<h3>{{ user.city }}</h3>
		{% endif %}
		<!--Get website if any-->
		{% if user.website %}
			<h3><a href="">{{ user.website }}</a></h3>
		{% endif %}
	</div>
	<!--END Profile Header-->

	<!--Profile Content-->
	<div class="profile">
    <!-- Maybe add Profile Sorting here-->

		{% for listing in user.listing_set.all %}
	    <div class="browse_container">
			{% for listing in listings %}
		    	<div class="browse_element"u>
		        	<a href="{% url 'papers:listing' listing.id %}">
						<img src="{{ listing.image.url }}" />
					</a>
					<div class="browse_paper_title">
						<a href="{% url 'papers:listing' listing.id %}">{{ listing.title }}</a>
					</div>
					<p>Publication Edition</p>
				</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<!--End Profile Content-->

	<div class="bottom"></div>
</body>

</html>
