<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Register - trade–paper</title>
	{% load staticfiles %}
	<link href="{% static 'tradepaper/styles.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

{% include "tradepaper/nav-bar.html" %}

<!--Sign Up-->
<div class="signup">
	<h1>Sign Up</h1>
	{% if error_message %}<h2>{{ error_message }}</h2>{% endif %}
	<form action="{% url 'register' %}" method="post">
		{% csrf_token %}
	    <h2>Pick a username:</h2>
		<input type="text" name="username" placeholder="username" id="register_username" data-required="required" class="textfield_effect">

	    <h2>Choose a password:</h2>
		<input type="password" name="password" placeholder="password" id="register_password" data-required="required" class="textfield_effect">

	    <h2>Enter your email address:</h2>
		<input type="email" name="email" placeholder="email address" id="register_email" data-required="required" class="textfield_effect">

		<input type="submit" value="Submit" class="textfield_effect" id="register_submit">
	</form>
</div>
<!--END Sign Up-->

<div class="bottom"></div>
</body>
</html>
