<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Password Reset - trade–paper</title>
	{% include "tradepaper/header.html" %}
</head>

<body>
	{% include "tradepaper/nav-bar.html" %}
	<div class="resetpassword">
		<h1>Password Reset</h1>
		<h3>Forgot your password? No worries, enter your email address below and we'll send you a link to reset your password.</h3>

		<!-- Start Error Message ("There's no account associated with that email address!") -->
		{% if messages %}
			{% for message in messages %}
			<h2{% if message.tags %} class="{{ message.tags }} errors"{% endif %}>{{ message }}</h2>
			{% endfor %}
		{% endif %}
		<!-- End Error Message -->

		<form action="{% url 'register' %}" method="post">
			{% csrf_token %}
			<h2>Email address:</h2>
			<input type="email" name="email" placeholder="email address" id="register_email" data-required="required" class="textfield_effect" autofocus>
			<input type="submit" value="Reset" class="button_effect" id="signup_submit">
		</form>
	</div>
	<div class="bottom"></div>
</body>
</html>
