<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>[[get-paper-title]] from [[get-username]] - trade–paper</title>
  {% include "tradepaper/header.html" %}
</head>

<body>

  {% include "tradepaper/nav-bar.html" %}

  <!--Set Page Title to "username - trade-paper"-->

  <!--Individual Paper Page Content-->
  <div class="paperpage">

    <!--Get selected paper element details-->

    <div class="paperpageelement">

      <!--IMPLEMENT CLICK TO ZOOM-->

      <a href="/">
        <img src="{{ listing.image.url }}" />
      </a>

      <!--<div class="paper_text">-->
      <div class="ppe_title">
        <p>{{ listing.title }}</p>
      </div>

      <div class="ppe_edition">
        <p>{{ listing.edition }}</p>
      </div>

      <div class="ppe_condition">
        <p>{{ listing.condition }} / 10</p>
      </div>

      <div class="ppe_tradebutton">
        <a href="/">Offer Trade</a>
      </div>

      <!--</div>-->
      <!--Make one-column layout populate with all of [profile]'s paper for trade.-->

    </div>

    <!--IMPLEMENT RELATED ITEMS / ISSUES HERE-->

    <!--<div class="yellowfoot">-->
    <div class="pp_recs_container">
      <div id="relatedtext">
        <p>Related Paper : </p>
      </div>
      {% for i in "xxx"  %}
      <div class="pp_recs">
        <!--LINK TO THISMAG PRODUCT PAGE-->
        <a href="">
        <img src="http://i.imgur.com/GRbsrKN.jpg" /></a>
        <!--LINK TO THISMAG PRODUCT PAGE-->
        <p>
          <a href="">Publication Title</a>
        </p>
        <p>Publication Edition</p>
      </div>
      {% endfor %}
    </div>
    
    <!--SHOW USER'S OTHER PAPER HERE-->

    <div class="pp_recs_container">
      <div id="relatedtext"><p>Other paper from <a href=""><em>user</em></a> : </p></div>
      {% for i in "xxx" %}
        <div class="pp_recs">
        <!--LINK TO THISMAG PRODUCT PAGE-->
          <a href="">
            <img src="http://i.imgur.com/GRbsrKN.jpg" />
          </a>
          <!--LINK TO THISMAG PRODUCT PAGE-->
          <p>
            <a href="">Publication Title</a>
          </p>
          <p>Publication Edition</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <!--END Individual Paper Page Content-->

  <div class="bottom"></div>
</body>
</html>
