<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Trade Request – trade–paper</title>
  {% include "tradepaper/header.html" %}
</head>

<body>

{% include "tradepaper/nav-bar.html" %}

<!--Sign Up-->
<div class="request">

  <h1>Trade Request</h1>

  <!--Fill in blank with message receipient-->
  {% if user == trade.trader %}
  <h3>Trade Request to <FONT color="#0147FA">{{ trade.tradee.name }}</FONT><br/> for <FONT color="red">{{ listing.title }}, {{ listing.edition }}</FONT></h3>
  {% elif user == trade.tradee %}
  <h3>Trade Request from <FONT color="#0147FA">{{ trade.trader.name }}</FONT><br/> for <FONT color="red">{{ listing.title }}, {{ listing.edition }}</FONT></h3>
  {% endif %}

  {% for message in trade.messages.all %}
    {% if message.sent_by_trader == user_is_trader %}
      <div class="req_message_out">
        {{ message.text|linebreaksbr }}
      </div>
    {% else %}
      <div class="req_message_in">
        {{ message.text|linebreaksbr }}
      </div>
    {% endif %}
  {% endfor %}

  {% if trade.messages.all|length > 0 %}
  <form action="{% url 'papers:trade' trade.id %}" method="POST">
  {% else %}
  <form action="{% url 'papers:new_trade' listing.id %}" method="POST">
  {% endif %}
    {% csrf_token %}
    <textarea class="req_message_out_ta" cols="20" name="message" rows="1"></textarea>

    <div id="submitmessage">
      <input type="submit" value="Send" class="button_effect trans" id="send_message" name="send_message"/>
    </div>

    {% if user == trade.trader %}
      <div id="cancel_trade_container">
        <input type="submit" value="Cancel Trade" class="button_effect trans" id="cancel_trade" name="cancel"/>
      </div>

    {% elif user == trade.tradee %}
      <div id="confirm_trade_container">
        <input type="submit" value="Confirm Trade" class="button_effect trans" id="confirm_trade" name="confirm"/>
      </div>

      <div id="reject_trade_container">
        <input type="submit" value="Reject Trade" class="button_effect trans" id="reject_trade" name="reject"/>
      </div>
    {% endif %}
  </form>

</div>

<!--END Sign Up-->

<div class="bottom"></div>
</body>
</html>
