<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Trade Request – trade–paper</title>
  {% include "tradepaper/header.html" %}
</head>

<body>

{% include "tradepaper/nav-bar.html" %}

<!--Sign Up-->
<div class="request">

  <h1>Trade Request</h1>

  <!--Fill in blank with message receipient-->
  <h3>Trade Request with <FONT color="#0147FA">user</FONT><br/> for <FONT color="red">Papertitle, Paperissue</FONT></h3>

    <!--If this is the first message between the two users, then start new thread with only 1 textarea displayed:-->
         <!-- Reinstate this when recoding: 
            <div id="request_outgoing_msg">
            <textarea class="req_message_out" cols="20" name="req_message_out" rows="1"></textarea>
         -->
    
    <!--If this is not the first message between the two users, pull all messages before loading textarea for logged-in user--> 
        <!--If current user was the first sender, then this:-->

    <div class="req_message_out">
        <!--Import received message text here-->
        Hey man, would you want to trade my ham and cheese for your meatball sammy?
    </div>


    <div class="req_message_in">
        <!--Import received message text here-->
        No thanks.
        How about for this other one? I like that one a little bit less so I don't really care as much man I can't believe you read all of this.
    </div>



    <textarea class="req_message_out_ta" cols="20" name="req_message_out" rows="1"></textarea>

    <!--The submit button should only show up under the bottom-most text field.-->
    <div id="submitmessage">
		<input type="submit" value="Send" class="button_effect" id="request_msg_send">
		</form>
       	<!--Store this textarea's info and send it to the receipient.-->
    </div>

    
    <div id="confirmtrade">
        <input type="submit" value="Confirm Trade" class="button_effect" id="confirmtradebutton">
        </form>
    </div>
    
    <div id="rejecttrade">
        <input type="submit" value="Reject Trade" class="button_effect" id="rejecttradebutton">
        </form>
    </div>
</div>

<!--END Sign Up-->

<div class="bottom"></div>
</body>
</html>
