<!-- Frame Links -->
<div class="top"></div>
<div class="framelink" id="link1"><a href="{% url 'papers:browse' %}">Browse</a>
</div>
<div class="framelink" id="link2"><a href="{% url 'general:index' %}">trade–paper</a>
</div>
<div class="framelink" id="link3"><form action="/search.jsp" method="GET">
<input type="text" name="query" class="textfield_effect3" placeholder="Search">
</form>
</div>
<div class="framelink" id="link4"><a href="{% url 'general:about' %}">About</a>
</div>
<div class="framelink" id="link5"><a href="{% url 'users:login' %}">Log In</a>
</div>
<!--END Frame Links-->
