<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Profile - trade–paper</title>
	{% load staticfiles %}
	<link href="{% static "paperapp/styles.css" %}" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- Frame Links -->
<div class="top"></div>
<div class="framelink" id="link1"><a href="look">Browse</a>
</div>
<div class="framelink" id="link2"><a href="/">trade–paper</a>
</div>
<div class="framelink" id="link3"><a href="/login">Login</a>
</div>
<div class="framelink" id="link4"><a href="/about">About</a>
</div>
<div class="framelink" id="link5"><a href="/">My Account</a>
</div>
<!--END Frame Links-->

<!--Set Page Title to "username - trade-paper"-->

<!--Profile Header-->
<div class="profile_head">

	<h2>Profile</h2>
	<!--Get avatar-->
    <!--<img src="https://pbs.twimg.com/profile_images/433092997828202496/Lj3L-jIF_bigger.jpeg" />-->
	<!--Get username-->
  	<div id="unamedisp">{{ user.username }}</div>
    <!--Get city location-->
    <h3>{{ user.city }}</h3>
    <!--Get website if any-->
    <h3><a href="">{{ user.website }}</a></h3>

</div>
<!--END Profile Header-->

<!--Profile Content-->
<div class="profile">

    <div class="profile_sort">
    	<p>Sort by: DROP DOWN</p>
    </div>
    <!--Get paper 1-->

    	<div class="paper">

            <div class="paper_image">
        	<img src="http://i.imgur.com/GRbsrKN.jpg" />
            </div>

            <div class="paper_text">
            	<div class="paper_title" style="font-weight: 700;">
            		<p>Publication Title</p>
            	</div>

                <div class="paper_edition">
                    <p>Publication Edition</p>
                </div>

                <div class="paper_condition">
                    <p>Condition out of 10</p>
                </div>

                <div class="tradebutton">
                <a href="/">Offer Trade</a>
                </div>

            </div>
    		<!--Make one-column layout populate with all of [profile]'s paper for trade.-->

        </div>

        <!--END Paper 1-->

        <!--Get paper 1-->

    	<div class="paper">

            <div class="paper_image">
        	<img src="http://i.imgur.com/GRbsrKN.jpg" />
            </div>

            <div class="paper_text">
            	<div class="paper_title">
            		<p>The Plant Journal</p>
            	</div>

                <div class="paper_edition">
                    <p>Issue 02</p>
                </div>

                <div class="paper_condition">
                    <p>9 / 10</p>
                </div>

                <div class="tradebutton">
                <a href="/">Offer Trade</a>
                </div>

            </div>
    		<!--Make one-column layout populate with all of [profile]'s paper for trade.-->

        </div>

        <!--END Paper 1-->

        <!--Get paper 1-->

    	<div class="paper">

            <div class="paper_image">
        	<img src="http://i.imgur.com/GRbsrKN.jpg" />
            </div>

            <div class="paper_text">
            	<div class="paper_title">
            		<p>The Plant Journal</p>
            	</div>

                <div class="paper_edition">
                    <p>Issue 02</p>
                </div>

                <div class="paper_condition">
                    <p>9 / 10</p>
                </div>

                <div class="tradebutton">
                <a href="/">Offer Trade</a>
                </div>

            </div>
    		<!--Make one-column layout populate with all of [profile]'s paper for trade.-->

        </div>

        <!--END Paper 1-->
        <!--Get paper 1-->

    	<div class="paper">

            <div class="paper_image">
        	<img src="http://i.imgur.com/GRbsrKN.jpg" />
            </div>

            <div class="paper_text">
            	<div class="paper_title">
            		<p>The Plant Journal</p>
            	</div>

                <div class="paper_edition">
                    <p>Issue 02</p>
                </div>

                <div class="paper_condition">
                    <p>9 / 10</p>
                </div>

                <div class="tradebutton">
                <a href="/">Offer Trade</a>
                </div>

            </div>
    		<!--Make one-column layout populate with all of [profile]'s paper for trade.-->

        </div>

        <!--END Paper 1-->
        <!--Get paper 1-->

    	<div class="paper">

            <div class="paper_image">
        	<img src="http://i.imgur.com/GRbsrKN.jpg" />
            </div>

            <div class="paper_text">
            	<div class="paper_title">
            		<p>The Plant Journal</p>
            	</div>

                <div class="paper_edition">
                    <p>Issue 02</p>
                </div>

                <div class="paper_condition">
                    <p>Condition: 9 / 10</p>
                </div>

                <div class="tradebutton">
                <a href="/">Offer Trade</a>
                </div>

            </div>
    		<!--Make one-column layout populate with all of [profile]'s paper for trade.-->

        </div>

        <!--END Paper 1-->

</div>
<!--End Profile Content-->

<div class="bottom"></div>
</body>
</html>
