@charset "UTF-8";

/*COLORS USED :
#fff318 = YELLOW
#0147FA = BLUE
*/

html{
	font-family: Karla, Helvetica, sans-serif;
	height: 100%;
}

body {
	margin: 0px;
}

body a {
	color: red;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
}

.top {
	top: 0px;
	width: 100%;
	height: 55px;
	background-color: white;
	z-index: 998;
	position: fixed;
	margin: 0px;
	padding: 0px;
}

.bottom {
	width: 100%;
	height: 42px;
	background-color: white;
	margin: 0px;
	padding: 0px;
	bottom: 0px;
	clear: both;
}

/* * {
	border: 1px solid black;
}*/

/* Frame Links */
.framelink {
	position: fixed;
	font-weight: 700;
	text-decoration: none;
	z-index: 999;
	font-size: 20px;
}

.framelink a{
	text-decoration: none;
	color: black;
	padding-bottom: 2px;
}

/*#link1 a:hover, #link2 a:hover, #link3 a:hover, #link4 a:hover, #link5 a:hover{
	Hover color for border links */
.framelink a:hover {
	color: red;
	border-bottom: 2px solid black;
}

/*#link1 a:visited, #link2 a:visited, #link3 a:visited, #link4 a:visited, #link5 a:visited{*/
.framelink a:visited {
	color: black;
}

/*#link1 a:visited:hover, #link2 a:visited:hover, #link3 a:visited:hover, #link4 a:visited:hover, #link5 a:visited:hover{*/
.framelink a:visited:hover {
	color: red;
}

#link1 {
	/*margin: 10px 0px 0px 10px;*/
	top: 20px;
	left: 20px;
}

#link2 {
	top: 20px;
	left: 50%;
	display: inline;
	margin-left: -68px;
	letter-spacing: 2px;
	width: 140px;
	height: 22px;
	text-align: center;
	color: #0147FA;
}

#link2 a{
	color: black;
}

#link2 a:hover{
	color: #0147FA;
	border-bottom: 2px solid #0147FA;
}

#link3 {
	top: 16px;
	right: 20px;
}

#link4 {
	bottom: 20px;
	right: 20px;

}

#link5 {
	bottom: 20px;
	left: 20px;
}

/*MY ACCOUNT Drop Up Menu*/

#link5 ul {
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 100%;
  width: 125px;
  display: none;
  opacity: 0;
  visibility: hidden;
}

#link5 ul li {
  display: block;
  padding-bottom: 3px;
}

#link5:hover ul{
	display: block;
  	opacity: 1;
  	visibility: visible;
}

/* END MY ACCOUNT Drop Up Menu*/

/*ABOUT Drop Up Menu*/

#link4 ul {
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 125px;
  display: none;
  opacity: 0;
  visibility: hidden;
  text-align: right;
}

#link4 ul li {
  display: block;
  padding-bottom: 3px;
}

#link4:hover ul{
	display: block;
  	opacity: 1;
  	visibility: visible;
}

/* END ABOUT Drop Up Menu*/


/* END Frame Links */

/*Sign Up*/
.signup{
	text-align: center;

	padding-top: 80px;
	width: 95%;
	margin: 0 auto;
}

.signup h1{
	font-size: 24px;
	/*border-bottom: 2px solid white;*/
	/*border-right: 2px solid red;
	border-left: 2px solid blue;*/

	width: 100px;
	margin: auto;
	margin-bottom: 35px;
	text-align: center;
	color: red;
}

.signup h2{
	margin-top: 35px;
	margin-bottom: 15px;
}

#signup_submit {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 40px;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
	color: red;
}

#signup_submit:hover {
	color: white;
	background-color: red;
}
/*END Sign Up*/

/*Log In*/
.login{
	/*vertical-align: middle;*/
	text-align: center;
	height: 300px;
	padding-top: 80px;
	width: 50%;
	margin: 0 auto;
}

.login h1 {
	font-size: 24px;
	/*border-bottom: 2px solid red;*/
	/*border-right: 2px solid red;
	border-left: 2px solid blue;*/

	width: 75px;
	margin: auto;
	margin-bottom: 35px;
	text-align: center;
	color: red;
}

.login h2{
	margin-top: 35px;
	margin-bottom: 15px;
}

#loginbutton{
	margin-top: 40px;
}

#login_submit {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	display: block;
	margin: auto;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
	color: red;
}

#login_submit:hover {
	color: white;
	background-color: red;
}

#loginsubmitbutton{
	margin-top: 40px;
}

/*Register Link on Login Page*/
#loginregisterlink{
	font-size: 22px;
	font-weight: 700;
	width: 95px;
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
	margin: auto;
	margin-top: 40px;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
}

#loginregisterlink:hover{
	color: white;
	background-color: red;
	border: none;
}
/*END Register Link on Login Page*/
/*END Log In*/

/*START Reset Password Pages*/
.resetpassword {
	text-align: center;
	padding-top: 80px;
	width: 50%;
	margin: 0 auto;
}
.resetpassword h1 {
	font-size: 24px;
	margin: auto;
	margin-bottom: 35px;
	text-align: center;
	color: red;
}
.resetpassword h2 {
	padding-bottom: 0px;
}
.resetpassword h3 {
	margin: 0 auto 40px;
	font-size: 18px;
	color: blueviolet;
}
.resetpassword #signup_submit {
	margin-top: 25px;
}
/*END Reset Password Pages*/

/*Text Field + Button Effects*/
#adding .uploaddialogue {
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	width: 275px;
	color: white;
	display: inline-block;
}
.uploaddialogue btn {
	color: white;
}

.textfield_effect {
	border: 1px solid white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	height: 35px;
	border-radius: 4px;
}

.textfield_effect2 {
	border: 1px solid white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	/*	color: #0147FA;*/
	height: 35px;
	border-radius: 4px;
}

.textfield_effect3 {
	border: 1px dashed white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: right;
	color: red;
	height: 35px;
	border-radius: 4px;
}

.search_effect {
	border: 0px dashed white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: right;
	color: #0147FA;
}

.password_effect {
	border: 1px solid white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	color: #0147FA;
}

.email_effect {
	border: 1px solid white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	color: #0147FA;
	width: 300px;
}

.addmagup {
	color: white;
}

.mailchimp {
	border: 3px solid black;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	width: 250px;
	height: 30px;
	display: inline;
	border-radius: 4px;
}

#mc_embed_signup {
	width: 500px;
}

#mailchimpbutton {
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	height: 37px;
	display: inline;
	padding: 5px;
	background-color: white;
	border: dashed 2px red;
	color: red;
	letter-spacing:1px;
	border-radius: 4px;
}

#mailchimpbutton:hover {
	color: white;
	background-color: red;
}

#mailchimp_confirmed {
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	width: 350px;
	margin: 0 auto;
	display: none;
	padding: 10px;
	background-color: green;
	color: white;
	letter-spacing:1px;
	border-radius: 4px;
}\

#papertitle {
	width: 275px;
}
#paperedition{
	width: 200px;
}
#papercondition{
	width: 100px;
}

#register_email {
	width: 300px;
}
#register_password {
}
#register_uname {
	color: #0147FA;
}
#register_city {
	width: 300px;
}

.button_effect {
	border-width: 1px solid white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	border-radius: 4px;
}

/*END Text Field Effects*/

/*Some Globals*/

#bluebg {
	background-color: #CFCFC4;
}

#redbg {
	background-color: #b40000;
}

.whitetxt a{
	color: white !important;
}

blue {
	color: #0147FA;
}

blueh:hover {
	color: blue;
}

/*No More Globals*/




/*START Home Page*/
.home{
	width: 100%;
	letter-spacing:1px;
	font-size: 14px;
	padding-top: 80px;
	margin: 0 auto;
	text-align: center;
}



.home img {
	margin-bottom: 20px;
}

.home p{
	width: 55%;
	letter-spacing:1px;
	font-size: 16px;
	margin: auto;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 22px;
}

.home p a {
	color: black;
	border-bottom: 2px solid black;
	letter-spacing:2px;
}

.home p a:hover {
	color: red;
	border-bottom: 2px solid red;
}

.home h2 {
	font-size: 24px;
	margin: 20px auto;
	text-align: center;
	color: red;
}
.home h3 {
	font-size: 20px;
	margin: 20px auto 25px;
	text-align: center;
	color: red;
	padding: 7px;
	display: inline-block;
	border: 3px solid yellow;
	border-radius: 3px;
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	cursor: default;
}

.home h3:hover{
	background-color: yellow;
}

.home blue {
	color: #0147FA;

}

.home blueh:hover {
	color: blue;
}

/*END Home Page*/


/*About Page*/
.about{
	width: 100%;
	letter-spacing:1px;
	font-size: 14px;
	padding-top: 80px;
	margin: auto;
	text-align: center;
}

.about img {
	margin-top: 20px;
	width: 175px;
}

.about p{
	width: 45%;
	letter-spacing:1px;
	font-size: 16px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 75px;
	font-weight: 700;
	line-height: 22px;
}

.about p a {
	color: red;
	border-bottom: 2px solid white;
}

.about p a:hover {
	border-bottom: 2px solid black;
}

.about h2 {
	font-size: 24px;
	color: red;
	margin: auto;
	text-align: center;
}

/*END About Page*/

/*FAQ Page*/

.faq{
	width: 100%;
	letter-spacing:1px;
	font-size: 14px;
	padding-top: 80px;
	margin: auto;
	text-align: center;
}

.faq p{
	width: 40%;
	letter-spacing:1px;
	font-size: 16px;
	margin: 10px auto;
	font-weight: 700;
	line-height: 22px;
}

.faq p a {
	color: red;
	border-bottom: 2px solid white;
}

.faq p a:hover {
	border-bottom: 2px solid black;
}

.faq h2 {
	font-size: 24px;
	margin: 0 auto 15px;
	text-align: center;
	color: red;
}

.faq h3 {
	font-size: 20px;
	display: inline-block;
	margin: 20px auto 0px;
	padding-bottom: 2px;
	text-align: center;
	color: black;
	border-bottom: 2px solid yellow;
}




/*END FAQ Page*/

/*MY ACCOUNT Page*/

.myaccount {
	width: 100%;
	letter-spacing:1px;
	font-size: 14px;
	padding-top: 80px;
	margin: auto;
	text-align: center;
}

.myaccount h2 {
	font-size: 24px;
	color: red;
	margin: 0 auto 10px;
	text-align: center;
}

#mabuttons{
	width: 75%;
	margin: auto;
}

mabutton {
	width: 275px;
	height: 40px;
	line-height: 40px;
	padding: 8px;
	margin: 30px 40px;
	display: inline-block;
	color: #0147FA;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	border: 2px dashed #0147FA;
	border-radius: 4px;
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.50);
}

mabutton:hover {
	color: white;
	background-color: #0147FA;
}
/*END MY ACCOUNT Page*/


/*Profile Header*/

.profile_head {
	width: 55%;
/*	letter-spacing:1px;*/
	font-size: 12px;
	margin: auto;
	margin-top: 80px;
	text-align: center;
}

.profile_head img {
	width: 50px;
}

.profile_head h1 {
	margin-top: 0px;
	margin-bottom: 25px;
}

.profile_head h2 {
	font-size: 24px;
	font-weight:700;
	color: red;
	letter-spacing: 0px;
}

.profile_head h3 {
	margin-top: 1px;
	margin-bottom: 0px;
	font-weight: 700;
	text-transform: lowercase;
}

#unamedisp p{
	display: inline-block;
	font-weight:700;
	font-size:18px;
	margin-top: 15px;
	margin-bottom:0px;
	padding: 0px 6px;
	text-transform: lowercase;
}

.profile_head a{
	color: red;
}

.profile_head a:hover{
	border-bottom: 1px solid black;
}

/*END Profile Header*/

/*Profile Page Content*/

.profile {
	width: 60%;
	margin: auto;
	margin-top: 20px;
	height:inherit;
	text-align: center;
}

.profile img {
}


.profile_sort {
	text-align: right;
	margin-right: 0;
	font-size: 13px;
}

.profile_element {
	width: 34%;
	border: 3px solid #0147FA;
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 14%;
	padding-top: 15px;
	text-align: center;
	display: inline-block;
	color: black;
}



.profile_element:hover {
	background-color: #0147FA;
	box-shadow: 0px 10px 35px 12px rgba(0,0,0,0.25);
	color: white;
}

.profile_element img {
	width: 65%;
	border: 3px solid white;
	margin: 20px;
}

.profile_element p {
	font-size: 16px;
	font-weight: 700;
	margin-top: 2px;
	margin-bottom: 6px;
}

.profile_element a{
	color: inherit;
	font-size: 16px;
	font-weight: 700;
}

.profile_element a:hover {
	color: yellow;
}

.tradebutton a{
	font-size: 20px;
	font-weight: 700;
	width: 55%;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
	letter-spacing: 1px;
	color: black;
}

.tradebutton a:hover{
	color: white;
	background-color: red;
}

/**/
/*paper img and paper text and trade button need recode for mobile displays*/
/**/

/*END Profile Content*/

/*START Edit Profile Page Content*/
#editprofile{

	font-size: 16px;
	margin: 0 auto;
	margin-top: 35px;
}

#editprofile h3 {
	margin-top: 25px;
}

#edit_submit {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	height: 37px;
	padding: 5px;
	background-color: white;
	border: dashed 2px red;
	color: red;
	margin: auto;
	letter-spacing:1px;
	border-radius: 4px;
}

#edit_submit:hover {
	color: white;
	background-color: red;
}

#edit_email, #edit_password, #edit_city, #edit_site {
	width: 200px;
	text-transform: lowercase;
}
/*END Edit Profile Page Content*/

/*START Add/Remove My Magazines Page */
.mymags {
	width: 100%;
	letter-spacing:1px;
	font-size: 14px;
	margin: 80px auto 0;
	text-align: center;
}

.mymags a{
	color: black;
}

.mymags h2 {
	color: red;
	margin: 0 auto;
	font-size: 24px;
}

.mags {
	width: 80%;
	margin: auto;
	margin-top: 35px;
	font-size: 16px;
}

.mags h3 {
	display: inline-block;
	border-bottom: 2px solid black;
}

.mags .browse_element a {
	color: red;
	margin: 0;
	padding: 1px 5px;
	border: 2px solid red;
	font-weight: 700;
	font-size: 12px;
	position: inherit;
	right: 0;
}

.addmag {
	width: 100px;
	height: 55px;
	border: 3px solid black;
	text-align: center;
	padding-top: 15px;
	position: fixed;
	right: 50px;
	top: 90px;
	background-color: #fff318;
	font-weight: 700;
	font-size: 16px;
	cursor: move;
	z-index: 9999;
}

.addmag a{
	color: black;
}

.addmag:hover {
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
}

#adding {
	z-index: 1;
	width: 100%;
	position: absolute;
	margin: 0 auto;
	top: 0;
	padding-top: 80px;
	background-color: #004dbd;
	height: 100%;
	display: none;
}

#adding h2 {
	color: white;
}
/*END Add/Remove My Magazines Page */


/*Individual Paper Page*/
.paperpage{
	width: 75%;
	margin: auto;
	text-align: center;
	margin-top: 95px;
}

.paperpageelement{
}

.paperpageelement img{
	width: 28%;
	margin-bottom: 0px;
	padding: 5px;
	border: 1px solid black;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.07);
}

.paperpageelement img:hover {
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.14);
}

.ppe_title{
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 0px;
}

.ppe_title p{
	font-size: 18px;
}

.ppe_edition p, .ppe_condition p{
	margin-top: -8px;
}

.ppe_tradebutton a{
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	display: block;
	width: 33%;
	margin: auto;
	margin-top: 40px;;
	margin-bottom: 0px;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
	letter-spacing: 1px;
}

.ppe_tradebutton a:hover{
	color: white;
	background-color: red;
	border: solid 2px red;
}

/*.yellowfoot {
	background-color: #fff318;
	width: 100%;
}*/

.pp_recs_container {
	/*border: 1px dashed black;*/
	margin-top: 60px;
	margin-bottom: 30px;
	padding-bottom: 60px;
	background-color: #fff318;
	border-top: 3px solid black;
}

#relatedtext {
	padding-top: 0px;
	margin: auto;
}

#relatedtext p{
	margin-bottom: 35px;
	border-top: 0px dashed black;
	padding-top: 15px;
	font-size: 18px;
	font-weight: bold;
	color: black;
	letter-spacing: 2px;
}

#relatedtext p a{
	color: black;
	font-weight: 700;
}

#relatedtext p a:hover{
	color: red;
}

.pp_recs {
	width: 150px;
	border: 1px solid black;
	margin-right: 40px;
	margin-left: 40px;
	padding: 30px 10px 5px;
	text-align: center;
	display: inline-block;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
}

.pp_recs:hover {
	background-color: #fff318;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.08);
}

.pp_recs img {
	width: 105px;
	height: 140px;
	border: 0px solid white;
}

.pp_recs p {
	font-size: 13px;
	color: black;
}

.pp_recs a{
	color: black;
	font-size: 15px;
	font-weight: 700;
}

.pp_recs a:hover {
	color: red;
}

/*END Individual Paper Page*/

/*BEGIN Browse Page*/

#yellowbg {
	background-color: #fff318;
}

.browse_container{
	width: 85%;
	margin: auto;
	text-align: center;
	margin-top: 80px;
	height: inherit;
}

.browse_container h2 {
	font-size: 24px;
	/*border-bottom: 2px solid white;*/
	/*border-right: 2px solid red;
	border-left: 2px solid blue;*/
	width: 100px;
	margin: auto;
	text-align: center;
	color: red;
}

.browse_element {
	width: 250px;
	border: 3px solid black;
	/*background:  rgba(255,243,24, 0.5);*/
	background: #fff318;
	margin: 30px 3.5%;
	padding: 10px;
	text-align: center;
	display: inline-block;
	/*box-shadow: 0px 10px 35px 12px rgba(0,0,0,0.12);*/
}

.browse_element:hover{
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
}

.browse_paper_title{
	padding-top: 7px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0px;
}

.browse_element img {
	width: 75%;
	padding: 4px;
	background: white;
	border: 0px solid black;
	margin: 20px 0px 15px 0px;
}

.browse_element img:hover {
	border: 0px solid white;
}


.browse_element p {
	margin-top: 8px;
	margin-bottom: 23px;
	font-size: 14px;
	font-weight:400;
	letter-spacing: 0px;
}

.browse_container a {
	color: black;
}

.browse_container a:hover {
	color: red;

}

/*END Browse Page*/

/*BEGIN New Listing Page*/

.newlisting{
	text-align: center;
	padding-top: 80px;
	width: 60%;
	margin: 0 auto;
}

.newlisting h1 {
	font-size: 24px;
	color: red;
	width: 200px;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
}

.newlisting h2{
	margin-top: 35px;
	margin-bottom: 15px;
}

/*.newlistinginput{
	float:left;
}

.newlistingimageinput{
	float:right;
}*/

#newlisting_submit {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 50px;
	/*margin-bottom: 50px;*/
	padding: 10px;
	background-color: white;
	border: dashed 2px red;

}

#newlisting_submit:hover {
	color: white;
	background-color: red;
}

#uploadimg{
	height: 300px;
	background-color: gray;
	margin-top: 30px;
}
/*END New Listing Page*/

/*START Request Trade Page*/

.request {
	width: 35%;
	letter-spacing:1px;
	font-size: 14px;
	padding-top: 80px;
	margin: auto;
}

.request h1{
	font-size: 24px;
	color: red;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

.request h3{
	font-size: 16px;
	color: black;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
}

.req_message_out {
	/*width: 100%;*/
	height:auto;
	border:1px solid black;
	border-right: 4px solid black;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	padding: 10px;
	margin-top: 20px;
	overflow: scroll;
	border-radius: 10px;
}


.req_message_out_ta {
	width: 100%;
	height:140px;
	border:1px solid black;
	border-right: 4px solid black;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	padding: 10px;
	margin-top: 20px;
	overflow: scroll;
	border-radius: 10px;
	box-sizing: border-box;
}

.req_message_in {
	/*width: 100%;*/
	border: 1px solid #0147FA;
	border-left: 4px solid #0147FA;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	color: #0147FA;
	padding: 10px;
	margin-top: 20px;
	border-radius: 10px;
	/*min-height: 35px;*/
}


#submitmessage{
	text-align: right;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 25px;
}

#request_msg_send {
	background-color: white;
	border: dashed 2px red;
	font-size: 18px;
	font-weight: 700;
	padding: 6px;
	color: red;
}

#request_msg_send:hover{
	color: white;
	background-color: red;
}

#confirmtrade{
	text-align: left;
	margin-bottom: 20px;
	float: left;
}

#confirmtradebutton {
	background-color: white;
	border: dashed 2px #0147FA;
	font-size: 18px;
	font-weight: 700;
	padding: 6px;
	color: #0147FA;
}

#confirmtradebutton:hover{
	color: white;
	background-color: #0147FA;
}

#rejecttrade{
	text-align: right;
	margin-bottom: 20px;
	float: right;
}

#rejecttradebutton {
	background-color: white;
	border: dashed 2px black;
	font-size: 18px;
	font-weight: 700;
	padding: 6px;
}

#rejecttradebutton:hover{
	color: white;
	background-color: black;
}

/*END Request Trade Page*/

/*BEGIN Pending Trade Requests Page*/

.pendingrequests {
	width: 70%;
	letter-spacing:1px;
	font-size: 14px;
	padding-top: 80px;
	margin: auto;
}

.pendingrequests p {
	width: 65%;
	letter-spacing:1px;
	font-size: 16px;
	margin: auto;
	margin-top: 35px;
	font-weight: 700;
}

.pendingrequests h2 {
	font-size: 24px;
	color: red;
	width: 265px;
	margin: auto;
	text-align: center;
}

.pendingrequests #none p {
	text-align: center;
	font-size: 20px;
}

.pendingrequests #some {
	width: 85%;
	margin: auto;
	margin-top: 35px;
	font-weight: 700;
	font-size: 17px;
}

.pendingrequests #some p {
}

.pendingrequests #some .outer {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 30px;
	border-radius: 10px;
	border: 2px solid black;
}

.pendingrequests #some .outer div {
  display: table-cell;
  padding: 15px;
}

.pendingrequests #some .outer #date {
  width: 150px;
  text-align: center;
  background: #fff318;
  color: black;
	border-right: 2px dashed black;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.pendingrequests #some .outer :last-child {
}

.pendingrequests #some .middle {
  white-space: nowrap;
  overflow: scroll;
  text-align: center;
  font-size: 14px;
}

.pendingrequests #some .middle a{
  margin-top: 0px;
  font-size: 14px;
  color: #0147fa;
}

/*Hover Visuals*/
.pendingrequests #some .outer:hover {
  border: 2px solid #0147FA;
}
.pendingrequests #some .middle:hover {
	background-color: #0147FA;
}
.pendingrequests #some .middle:hover a{
	color: white;
}

/*END Pending Trade Requests Page*/

/* START 404 Page */
.fourohfour {
  font-size: 24px;
  line-height: 36px;
  position: fixed;
  padding: 0px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.fourohfour p {
  text-align: center;
}
/* END 404 Page */

/* ERROR MESSAGE Styles */
.errors {
	color: blueviolet;
}
/*
* {
	border: 1px solid black;}
*/

/* CSS ANIMATIONS */
/* @group Blink */

.blink {
  animation: blink 1s steps(3, start) infinite;
  -webkit-animation: blink 1s steps(3, start) infinite;
}
/* @end CSS ANIMATIONS */
