@charset "UTF-8";

/*COLORS USED :
#fff318 = YELLOW
#0147FA = BLUE
*/

html{
	font-family: Karla, Helvetica, sans-serif;
	height: 100%;
}

body {
	margin: 0px;
}

body a {
	color: red;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
}

.top {
	top: 0px;
	width: 100%;
	height: 55px;
	background-color: white;
	z-index: 998;
	position: fixed;
	margin: 0px;
	padding: 0px;
}

.bottom {
	width: 100%;
	height: 42px;
	background-color: white;
	margin: 0px;
	padding: 0px;
	bottom: 0px;
	clear: both;
}

/* * {
	border: 1px solid black;
}*/

/* Frame Links */
.framelink {
	position: fixed;
	font-weight: 700;
	text-decoration: none;
	z-index: 999;
	font-size: 20px;
}

.framelink a{
	text-decoration: none;
	color: black;
}

/*#link1 a:hover, #link2 a:hover, #link3 a:hover, #link4 a:hover, #link5 a:hover{
	Hover color for border links */
.framelink a:hover {
color: red;
}

/*#link1 a:visited, #link2 a:visited, #link3 a:visited, #link4 a:visited, #link5 a:visited{*/
.framelink a:visited {
	color: black;
}

/*#link1 a:visited:hover, #link2 a:visited:hover, #link3 a:visited:hover, #link4 a:visited:hover, #link5 a:visited:hover{*/
.framelink a:visited:hover {
	color: red;
}

#link1 {
	/*margin: 10px 0px 0px 10px;*/
	top: 20px;
	left: 20px;
}

#link2 {
	top: 20px;
	left: 50%;
	display: inline;
	margin-left: -68px;
	letter-spacing: 2px;
	width: 140px;
	height: 22px;
	background-color: white;
	text-align: center;
	color: #0147FA;
}

#link2 a{
	color: black;
}

#link2 a:hover{
	color: #0147FA;
}

#link3 {
	top: 16px;
	right: 20px;
}

#link4 {
	bottom: 20px;
	right: 20px;

}

#link5 {
	bottom: 20px;
	left: 20px;
}

/*My Account Drop Down Menu*/

#link5 ul {
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 100%;
  width: 125px;
  display: none;
  opacity: 0;
  visibility: hidden;
}

#link5 ul li {
  display: block;
  padding-bottom: 3px;
}

#link5:hover ul{
	display: block;
  	opacity: 1;
  	visibility: visible;
}

/* END My Account Drop Down Menu*/

/* END Frame Links */

/*Sign Up*/
.signup{
	text-align: center;
	height: 300px;
	padding-top: 80px;
	width: 50%;
	margin: 0 auto;
}

.signup h1{
	font-size: 24px;
	/*border-bottom: 2px solid white;*/
	/*border-right: 2px solid red;
	border-left: 2px solid blue;*/

	width: 100px;
	margin: auto;
	margin-bottom: 35px;
	text-align: center;
	color: red;
}

.signup h2{
	margin-top: 35px;
	margin-bottom: 15px;
}

#signup_submit {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 40px;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;

}

#signup_submit:hover {
	color: white;
	background-color: red;
}
/*END Sign Up*/

/*Log In*/
.login{
	/*vertical-align: middle;*/
	text-align: center;
	height: 300px;
	padding-top: 80px;
	width: 50%;
	margin: 0 auto;
}

.login h1 {
	font-size: 24px;
	/*border-bottom: 2px solid red;*/
	/*border-right: 2px solid red;
	border-left: 2px solid blue;*/

	width: 75px;
	margin: auto;
	margin-bottom: 35px;
	text-align: center;
	color: red;
}

.login h2{
	margin-top: 35px;
	margin-bottom: 15px;
}

#loginbutton{
	margin-top: 40px;
}

#login_submit {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	display: block;
	margin: auto;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
}

#login_submit:hover {
	color: white;
	background-color: red;
}

#loginsubmitbutton{
	margin-top: 40px;
}
/*END Log In*/

/*Register Link on Login Page*/
#loginregisterlink{
	font-size: 22px;
	font-weight: 700;
	width: 95px;
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
	margin: auto;
	margin-top: 40px;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
}

#loginregisterlink:hover{
	color: white;
	background-color: red;
	border: none;
}
/*END Register Link on Login Page*/

/*Text Field Effects*/
.textfield_effect {
	border-width: 1px;
    border-style: solid;
	border-color: white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
}

.textfield_effect2 {
	border-width: 1px;
    border-style: solid;
	border-color: white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	color: #0147FA;
}

.textfield_effect3 {
	border: 1px dashed white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: right;
	color: red;
}

.search_effect {
	border: 1px dashed white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: right;
	color: #0147FA;
}

.password_effect {
	border-width: 1px;
    border-style: solid;
	border-color: white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	color: #0147FA;
}

.email_effect {
	border-width: 1px;
    border-style: solid;
	border-color: white;
	box-shadow: none;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	text-align: center;
	color: #0147FA;
	width: 300px;
}

/*END Text Field Effects*/

/*About Page*/
.about{
	width: 70%;
	letter-spacing:1px;
	font-size: 14px;
	padding-top: 80px;
	margin: auto;
}

.about p{
	width: 65%;
	letter-spacing:1px;
	font-size: 16px;
	margin: auto;
	margin-top: 35px;
	font-weight: 700;
}

.about h2 {
	font-size: 24px;
	color: red;
	width: 265px;
	margin: auto;
	text-align: center;
}
/*END About Page*/

/*Profile Header*/

.profile_head {
	width: 55%;
/*	letter-spacing:1px;*/
	font-size: 12px;
	margin: auto;
	margin-top: 80px;
	text-align: center;
}

.profile_head img {
	width: 50px;
}

.profile_head h1 {
	margin-top: 0px;
	margin-bottom: 25px;
}

.profile_head h2 {
	font-size: 24px;
	font-weight:700;
	color: red;
	letter-spacing: 0px;
}

.profile_head h3 {
	margin-top: 1px;
	margin-bottom: 0px;
	font-weight: 400;
}

#unamedisp {
	font-weight:300;
	font-size:18px;
	margin-top: 15px;
	margin-bottom:0px;
	padding: 0px;
}

.profile_head a{
	color: black;
}

.profile_head a:hover{
	color: red;
}

/*END Profile Header*/

/*Profile Page Content*/

.profile {
	width: 60%;
	margin: auto;
	margin-top: 50px;
	height:inherit;
	text-align: justify;
}

.profile img {
}


.profile_sort {
	text-align: right;
	margin-right: 0;
	font-size: 13px;
}

.profile_element {
	width: 37%;
	border: 2px solid #0147FA;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 14%;
	padding-top: 15px;
	text-align: center;
	display: inline-block;}



.profile_element:hover {
	background-color: #fff318;
}

.profile_element img {
	width: 65%;
	border: 0px solid white;
	padding: 20px;
	padding-top: 6.25%;
	padding-bottom: 10px;
}

.profile_element p {
	font-size: 16px;
	font-weight: 700;
	color: black;
	margin-top: 2px;
	margin-bottom: 6px;
}

.profile_element a{
	color: black;
	font-size: 16px;
	font-weight: 700;
}

.profile_element a:hover {
	color: red;
}

/*.paper {
	height: 220px;
	border: 2px solid #0147FA;
	margin-top: 5px;
	margin-bottom: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.paper:hover{
	background-color: #fff318;
}

.paper img {
	float: left;
	width: 144px;
	height: 180px;
	border: 2px;
	background-color: white;
	margin-top: 20px;
	margin-left: 4%;
	outline: 0px solid #f9f8f4;
}

.paper p {
	margin-top: 8px;
	margin-bottom: 2px;
	font-size: 15px;
}

.paper_title {
	padding-top: 20px;
	font-weight: 700;
}

.paper_title p {
	font-size: 17px;
}

.paper_edition p, .paper_condition p{
	font-size: 15px;
}

.paper_condition p{
	padding-bottom: 10px;
}
.paper_text {
	float:right;
	margin-right: 4%;
}*/

.tradebutton a{
	font-size: 20px;
	font-weight: 700;
	width: 55%;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
	letter-spacing: 1px;
}

.tradebutton a:hover{
	color: white;
	background-color: red;
}

/**/
/*paper img and paper text and trade button need recode for mobile displays*/
/**/

/*END Profile Content*/

/*Individual Paper Page*/
.paperpage{
	width: 70%;
	margin: auto;
	text-align: center;
	margin-top: 8%;
}

.paperpageelement{
}

.paperpageelement img{
	width: 28%;
	margin-bottom: 0px;
}

.ppe_title{
	font-weight: 700;
	margin-top: 3.8%;
	margin-bottom: 0px;
}

.ppe_title p{
	font-size: 18px;
}

.ppe_edition p, .ppe_condition p{
	margin-top: -8px;
}

.ppe_tradebutton a{
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	display: block;
	width: 33%;
	margin: auto;
	margin-top: 3.8%;
	margin-bottom: 0px;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
	letter-spacing: 1px;
}

.ppe_tradebutton a:hover{
	color: white;
	background-color: red;
}

/*.yellowfoot {
	background-color: #fff318;
	width: 100%;
}*/

.pp_recs_container {
	/*border: 1px dashed black;*/
	margin-top: 7%;
	margin-bottom: 50px;
}

#relatedtext {
	width: 230px;
	margin: auto;
}

#relatedtext p{
	margin-bottom: 35px;
	border-top: 3px dashed #0147FA;
	padding-top: 35px;
	font-size: 15px;
}

#relatedtext p a{
	color: black;
	font-weight: 700;
}

#relatedtext p a:hover{
	color: red;
}

.pp_recs {
	width: 18%;
	border: 2px solid #0147FA;
	margin-right: 7%;
	margin-left: 7%;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: center;
	display: inline-block;
}

.pp_recs:hover {
	background-color: #fff318;
}

.pp_recs img {
	width: 105px;
	height: 140px;
	border: 0px solid white;
}

.pp_recs p {
	font-size: 13px;
	color: black;
}

.pp_recs a{
	color: black;
	font-size: 15px;
	font-weight: 700;
}

.pp_recs a:hover {
	color: red;
}

/*END Individual Paper Page*/

/*BEGIN Browse Page*/

.browse_container{
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 80px;
	height: inherit;
}

.browse_container h2 {
	font-size: 24px;
	/*border-bottom: 2px solid white;*/
	/*border-right: 2px solid red;
	border-left: 2px solid blue;*/

	width: 100px;
	margin: auto;
	text-align: center;
	color: red;
	margin-bottom: -4%;
}

.browse_element {
	width: 23%;
	border: 2px solid #0147FA;
	margin-left: 7.1%;
	margin-top: 7%;
	padding-top: 15px;
	text-align: center;
	display: inline-block;
	float: left;
}

.browse_element:hover{
	background-color: #fff318;
}

.browse_paper_title{
	padding-top: 7px;
	font-weight: 700;
}

.browse_element img {
	width: 75%;
	border: 0px solid white;
	padding-top: 20px;
	padding-bottom: 15px;
}

.browse_element img:hover {
	border: 0px solid white;
}


.browse_element p {
	margin-top: 8px;
	margin-bottom: 23px;
	font-size: 14px;
	font-weight:400;
}

.browse_container a {
	color: black;
}

.browse_container a:hover {
	color: red;

}

/*END Browse Page*/

/*BEGIN New Listing Page*/

.newlisting{

	text-align: center;
	height: 300px;
	padding-top: 80px;
	width: 60%;
	margin: 0 auto;
}

.newlisting h1 {
	font-size: 24px;
	color: red;
	width: 200px;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
}

.newlisting h2{
	margin-top: 35px;
	margin-bottom: 15px;

}

/*.newlistinginput{
	float:left;
}

.newlistingimageinput{
	float:right;
}*/

#newlisting_submit {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 50px;
	/*margin-bottom: 50px;*/
	padding: 10px;
	background-color: white;
	border: dashed 2px red;

}

#new_listing_image {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
	background-color: white;
	border: dashed 2px red;
}

#newlisting_submit:hover {
	color: white;
	background-color: red;
}

#uploadimg{
	height: 300px;
	background-color: gray;
	margin-top: 30px;
}
/*END New Listing Page*/

/*START Request Trade Page*/

.request {
	width: 35%;
	letter-spacing:1px;
	font-size: 14px;
	padding-top: 80px;
	margin: auto;
}

.request h1{
	font-size: 24px;
	color: red;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

.request h3{
	font-size: 16px;
	color: black;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
}

.req_message_out {
	width: 100%;
	height:auto;
	border:1px solid black;
	border-right: 4px solid black;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	padding: 10px;
	margin-top: 20px;
	overflow: scroll;
	border-radius: 10px;
}


.req_message_out_ta {
	width: 100%;
	height:140px;
	border:1px solid black;
	border-right: 4px solid black;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	padding: 10px;
	margin-top: 20px;
	overflow: scroll;
	border-radius: 10px;
}

.req_message_in {
	width: 100%;
	border: 1px solid #0147FA;
	border-left: 4px solid #0147FA;
	font-family: Karla, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing:1px;
	color: #0147FA;
	padding: 10px;
	margin-top: 20px;
	border-radius: 10px;
	/*min-height: 35px;*/
}


#submitmessage{
	text-align: right;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 25px;
	width: 100%;
}

#request_msg_send {
	background-color: white;
	border: dashed 2px red;
	font-size: 18px;
	font-weight: 700;
	padding: 6px;
}

#request_msg_send:hover{
	color: white;
	background-color: red;
}

#confirmtrade{
	text-align: left;
	margin-bottom: 20px;
	float: left;
}

#confirmtradebutton {
	background-color: white;
	border: dashed 2px #0147FA;
	font-size: 18px;
	font-weight: 700;
	padding: 6px;
	color: #0147FA;
}

#confirmtradebutton:hover{
	color: white;
	background-color: #0147FA;
}

#rejecttrade{
	text-align: right;
	margin-bottom: 20px;
	float: right;
	margin-right: -25px;
}

#rejecttradebutton {
	background-color: white;
	border: dashed 2px black;
	font-size: 18px;
	font-weight: 700;
	padding: 6px;
}

#rejecttradebutton:hover{
	color: white;
	background-color: black;
}

/*END Request Trade Page*/

/*BEGIN Pending Trade Requests Page*/

.pendingrequests {
	width: 70%;
	letter-spacing:1px;
	font-size: 14px;
	padding-top: 80px;
	margin: auto;
}

.pendingrequests p {
	width: 65%;
	letter-spacing:1px;
	font-size: 16px;
	margin: auto;
	margin-top: 35px;
	font-weight: 700;
}

.pendingrequests h2 {
	font-size: 24px;
	color: red;
	width: 265px;
	margin: auto;
	text-align: center;
}

.pendingrequests #none p {
	text-align: center;
	font-size: 20px;
}

.pendingrequests #some {
	width: 85%;
	margin: auto;
	margin-top: 35px;
	font-weight: 700;
	font-size: 17px;
}

.pendingrequests #some p {
}

.pendingrequests #some .outer {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 3px dashed #0147FA;
  margin-bottom: 20px;
}

.pendingrequests #some .outer div {
  display: table-cell;
  padding: 15px;
}

.pendingrequests #some .outer :first-child {
  width: 150px;
  text-align: center;
  background: #fff318;
  color: black;
}

.pendingrequests #some .outer :last-child {
}

.pendingrequests #some .middle {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

/*Hover Visuals*/
.pendingrequests #some .outer:hover {
  border: 3px solid #0147FA;
  background-color: #0147FA;
  color: white;
}
.pendingrequests #some .middle:hover {
}

/*END Pending Trade Requests Page*/


/*
* {
	border: 1px solid black;}
*/
