<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>About - trade–paper</title>
	{% load staticfiles %}
	<link href="{% static 'paperapp/styles.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

{% include "paperapp/nav-bar.html" %}

<div class="pending_requests">

</div>




<div class="bottom"></div>
</body>
</html>
